
<div class="Mensajeria">
    <div id="contenedorMensajes">
        {{!-- {{#if mensajes.length}}
            {{#each mensajes}} --}}
        {{#if datosDesnormalizados.length}}
            {{#each datosDesnormalizados}}

                {{!-- <p>{{ this.msj.emailForm }}</p>
                <p>{{ this.msj.msjForm }}</p>
                <p>{{ this.createDate }}</p> --}}

                {{#if autor.length}}
                    {{#each autor}}
                        <p>{{ this.msj.idForm }}</p>
                        <p>{{ this.msj.nombreForm }}</p>
                        <p>{{ this.msj.apellidoForm }}</p>
                        <p>{{ this.msj.edadForm }}</p>
                        <p>{{ this.msj.aliasForm }}</p>
                        <p>{{ this.msj.avatarForm }}</p>
                {{#if texto.length}}
                    <p>{{ this.msj.msjForm }}</p>
                <p>{{ this.createDate }}</p>
            {{/each}}
        {{/if}}
    </div>

    <div id="contenedorCompresion">
        {{#if comprencionTotal.length}}
            <p>% {{ comprencionTotal }}</p>
        {{/if}}
    </div>
</div>




<style>
    .titulo {
        text-align: center;
    }
    .Mensajeria {
        display: flex ;
        align-items: center;
        justify-content: center;
    }
</style>



